
*, *::after, *::before {
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: rgb(177, 219, 255);
}

main {
    height: 100vh;
    display: flex;
}

#side-bar {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    width: 20vw;
}

button {
    font-size: 1.125rem;
    padding: 5px 10px;
}

.container {
    margin: auto;
    width: 95vh;
    height: 95vh;
    border: 3px solid brown;
    background-color: #ffeedd;
}

.row{
    display: flex;
}

.square {
    outline: 1px solid black;
}